html, body {
  background-color: #2B141C;
}

.burger-head {
  background-color: #723B48;
}

li {
  padding: 5px;
  margin: 5px;
  background: #E84D01;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
